@charset "UTF-8";
article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

time {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.facebook:hover .icon {
  fill: #3b5998; }

.twitter:hover .icon {
  fill: #55acee; }

.gplus:hover .icon {
  fill: #dd4b39; }

.instagram:hover .icon {
  fill: #405de6; }

.vimeo:hover .icon {
  fill: #1ab7ea; }

.pinterest:hover .icon {
  fill: #bd081c; }

.youtube:hover .icon {
  fill: #cd201f; }

.linkedin:hover .icon {
  fill: #0077B5; }

.buffer:hover .icon {
  fill: #222222; }

.mix:hover .icon {
  fill: #fd8235; }

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: scroll; }
  html {
    font-size: 1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: calc(1rem + 0.2 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      html {
        font-size: 1.2rem; } }

body {
  background: #F9F9FA;
  color: #080A0B;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

a {
  color: #ff80ab;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

a:hover {
  color: #111111; }

a:active {
  color: #111111; }

a:focus {
  color: #111111; }

.inverse {
  color: #111111;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

.inverse:hover {
  color: #ff80ab; }

.inverse:active {
  color: #ff80ab; }

.inverse:focus {
  color: #ff80ab; }

p,
ul,
ol,
dl,
table {
  margin-top: 1.5rem; }

figure,
hr {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

blockquote {
  margin: 3rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4B6067;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  margin-top: 2.75rem; }

h1,
.u-h1 {
  margin: 0; }
  h1,
  .u-h1 {
    font-size: 1.60181rem; }
    @media screen and (min-width: 20rem) {
      h1,
      .u-h1 {
        font-size: calc(1.60181rem + 0.67889 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      h1,
      .u-h1 {
        font-size: 2.2807rem; } }

h2,
.u-h2 {
  font-size: 1.26562rem; }
  @media screen and (min-width: 20rem) {
    h2,
    .u-h2 {
      font-size: calc(1.26562rem + 0.53641 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h2,
    .u-h2 {
      font-size: 1.80203rem; } }

h3,
.u-h3 {
  font-size: 1.125rem; }
  @media screen and (min-width: 20rem) {
    h3,
    .u-h3 {
      font-size: calc(1.125rem + 0.47681 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h3,
    .u-h3 {
      font-size: 1.60181rem; } }

h4,
.u-h4 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h4,
    .u-h4 {
      font-size: calc(1rem + 0.42383 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h4,
    .u-h4 {
      font-size: 1.42383rem; } }

h5,
.u-h5 {
  font-size: 0.88889rem; }
  @media screen and (min-width: 20rem) {
    h5,
    .u-h5 {
      font-size: calc(0.88889rem + 0.37674 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h5,
    .u-h5 {
      font-size: 1.26562rem; } }

h6,
.u-h6 {
  font-size: 0.79012rem; }
  @media screen and (min-width: 20rem) {
    h6,
    .u-h6 {
      font-size: calc(0.79012rem + 0.33488 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h6,
    .u-h6 {
      font-size: 1.125rem; } }

h1 + p {
  margin-top: 0.5rem; }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 1.25rem; }

b,
strong {
  font-weight: 500; }

blockquote {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0 15%; }
  blockquote cite {
    color: #111111;
    display: block;
    font-family: "Heebo", sans-serif;
    font-size: 0.79012rem;
    font-style: normal;
    padding-top: 0.5rem; }
  blockquote > :nth-child(1) {
    margin-top: 0; }
  blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.55em;
    font: normal 400%/0.9 "Playfair Display", serif;
    color: #dedede; }
    @media all and (min-width: 37.5em) {
      blockquote:before {
        margin-left: -.85em; } }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25rem 1rem; }

dl dt {
  font-weight: 500; }

pre {
  margin: 1.5rem 0 0;
  padding: 1.5rem 3rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.88889rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #dedede;
    padding: 0.75rem 1.25rem; }
  table tr:nth-child(2n) {
    background: #f3f3f3; }
  table td {
    padding: 0.75rem 1.25rem; }

figcaption {
  clear: both;
  color: #585858;
  font-size: 0.79012rem;
  margin: 0.75rem 0 0;
  text-align: center; }

sub,
sup {
  font-size: 65%; }

hr {
  background: 0 0;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center; }
  hr::before {
    content: "\00b7 \00b7 \00b7";
    color: #111111;
    font-size: 1.26562rem;
    font-weight: 500;
    letter-spacing: 1rem;
    padding-left: 1rem; }

.btn, [type=button],
[type=submit],
button {
  background: #ff80ab;
  border: 1px solid #ff80ab;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: 500 0.6243rem "Heebo", sans-serif;
  letter-spacing: 0.18em;
  padding: 0.75rem 1.5rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    background: #111111;
    border-color: #111111;
    color: #ffffff; }
  .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    outline: 2px dotted #111111; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f3f3f3;
    border-color: #c4c4c4;
    color: #585858;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    border: 1px solid #ff80ab; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.5rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #cfcfcf;
  margin: 0 0 1.5rem;
  padding: 1.5rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 500; }

label {
  font-weight: 500;
  margin: 0 1rem 0.75rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: none;
  border: 1px solid #cfcfcf;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #ff80ab; }


.top__search [type=text],
.top__search [type=url],
.top__search [type=tel],
.top__search [type=number],
.top__search [type=email],
.top__search [type=search],
.top__search textarea,
.top__search select {
  background: transparent;
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #cfcfcf;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem;
      margin-right: 1rem;
      vertical-align: middle;
      text-align: center;
      width: 1.25rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23ff80ab'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23ff80ab'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3rem; }

select[multiple] {
  border: 1px solid #cfcfcf;
  padding: 1.5rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #cfcfcf; }
  select[multiple]:focus {
    border-color: #ff80ab; }
  select[multiple]:disabled {
    background-color: #f3f3f3;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #cfcfcf; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  margin: 0 auto;
  max-width: 66rem;
  padding: 1vw 4vw 2vw; }
  .container > header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    top: 0;
    padding: 0 4vw;
    z-index: 999;
    margin: 0 -4vw 3rem; }
    @media all and (min-width: 56.25em) {
      .container > header {
        height: 6rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }

.top {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media all and (max-width: 56.1875em) {
    .top {
      width: 100%; } }
  .top__search {
    margin-left: 1rem;
    position: relative; }
    @media all and (max-width: 56.1875em) {
      .top__search {
        margin-right: 3rem; } }
    .top__search [type="search"] {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 23'%3e%3cpath d='M23.565 20.458l-6.847-6.847a8.974 8.974 0 1 0-1.935 2.28l6.674 6.675a1.49 1.49 0 0 0 2.107-2.107zM9 16a7 7 0 1 1 7-7 7.008 7.008 0 0 1-7 7z' fill='%23070707'/%3e%3c/svg%3e");
      background-position: 100% 50%;
      background-size: 17px 16px;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      font-size: 0.88889rem;
      opacity: 0.6;
      padding: 0.25rem 0.75rem;
      -webkit-transition: all 0.36s ease-in-out;
      -o-transition: all 0.36s ease-in-out;
      transition: all 0.36s ease-in-out;
      width: 15px; }
      .top__search [type="search"]:hover {
        opacity: 1; }
      .top__search [type="search"]:focus {
        background-color: rgba(17, 17, 17, 0.05);
        border-radius: 3px;
        background-position: 92% 50%;
        cursor: auto;
        opacity: 1;
        padding-right: 22%;
        width: auto; }
        @media all and (min-width: 56.25em) {
          .top__search [type="search"]:focus {
            width: 10rem; } }

/* Logo ------------------------ */
.logo {
    background-color: #4b6066!important;
    font-family: "Playfair Display",serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    text-shadow: 2px 2px 3px #ffffffa1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    align-items: center;
    display: inline-flex;
   -webkit-transition: all 2.3s ease-out;
    -o-transition: all 2.3s ease-out;
    transition: all 2.3s ease-out;
}

.logo img {
  margin-right: 1rem;
   -webkit-transition: all 2.3s ease-out;
    -o-transition: all 2.3s ease-out;
    transition: all 2.3s ease-out;
  opacity: 0.37;
}
.logo:hover img, .logo:hover  {
   -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.logo:hover img {
  opacity: 1;
}

  @media all and (min-width: 56.25em) {
    .logo {
      font-size: 1.4rem; } }

.navbar__menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: auto;
      left: 0;
      opacity: 0;
      padding: 0 4vw 4vw;
      position: absolute;
      right: 0;
      top: 4rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      z-index: 1; }
      .navbar__menu > li {
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      overflow: visible; } }
  .navbar__menu li {
    color: #111111;
    list-style: none;
    padding: 0; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        font-size: 0.88889rem;
        margin: 0 0 0 1rem;
        position: relative;
        z-index: 2001; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          visibility: visible; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #111111;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 0.75rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #ff80ab; }
    .navbar__menu li span:hover {
      cursor: default; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 0 1px #dedede;
    box-shadow: 0 0 0 1px #dedede;
    left: auto;
    margin: 15px 0 0;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 100%;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    visibility: hidden;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:after {
      background: #ffffff;
      border-left: 1px solid #dedede;
      border-top: 1px solid #dedede;
      content: '';
      display: block;
      height: 10px;
      left: 20px;
      position: absolute;
      top: -6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 10px; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      margin: 0; } }
    @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
      .navbar__submenu li {
        padding: 0.25rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li ul {
        left: calc(100% + 12px);
        top: -22px;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul:after {
          left: -6px;
          top: 15px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .navbar__submenu li ul:before {
          height: 100%;
          left: -12px;
          top: 0;
          width: 12px; }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: calc(100% + 12px);
          top: -22px; }
          .navbar__submenu li ul.navbar__submenu--reversed:after {
            left: auto;
            right: -6px;
            top: 15px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
          .navbar__submenu li ul.navbar__submenu--reversed:before {
            height: 100%;
            left: auto;
            right: -12px;
            top: 0;
            width: 12px; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none !important;
  border: none;
  border-radius: 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 4vw;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #000000;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:hover, .navbar__toggle:focus {
    border-color: #000000;
    outline: none; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible; }
  .is-opened > ul li {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li > a,
    .is-opened > ul li > span {
      padding-left: 0.25rem;
      padding-right: 0.25rem; }
    .is-opened > ul li ul {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
      visibility: hidden; }
      .is-opened > ul li ul li {
        border-top: 1px solid #dedede; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      visibility: visible; }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #ff80ab;
    border-bottom: 1px solid #ff80ab;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px; } }

@media all and (min-width: 56.25em) {
  .u-wrapper {
    background: #ffffff;
    max-width: 46rem;
    padding: 3em;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
    margin: 0 auto; }

     }

.hero {
  margin-bottom: 3.5rem;
  backgorund: transparent;
  text-align: center;
  top: 0; }
  /*.hero:after {*/
    /*border-bottom: 1px solid #dedede;*/
    /*content: "";*/
    /*display: block;*/
    /*margin: 2rem auto 0;*/
    /*width: 15%; }*/
  .hero > p:not(.author-page__info) {
    color: #585858;
    font-size: 0.6243rem;
    letter-spacing: 0.18em;
    margin: 0 0 0.75rem;
    text-transform: uppercase; }

.filter ul {
  margin: -1rem auto 3rem;
  text-align: center; }
  .filter ul li {
    display: inline-block;
    font-size: 0.6243rem;
    letter-spacing: 0.18em;
    list-style: none;
    padding: 0 0.5rem 0 0;
    text-transform: uppercase; }

.filter__item {
  background: none;
  border: none;
  color: #111111;
  font-weight: 400;
  padding: 0; }
  .filter__item:hover, .filter__item:focus {
    border: none;
    background: none;
    color: rgba(17, 17, 17, 0.5);
    outline: none; }
  .filter__item--all {
    color: rgba(17, 17, 17, 0.5); }

.layout {
  margin: -0.5rem;
  position: relative; }
  .layout:after {
    content: " ";
    display: block;
    clear: both; }
  .layout:before {
    -webkit-animation: preloader .6s linear infinite;
    animation: preloader .6s linear infinite;
    content: '';
    border-radius: 50%;
    border: 1px solid #f3f3f3;
    border-top-color: #ff80ab;
    height: 2rem;
    position: absolute;
    width: 2rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    margin: 0 -1rem; }

@-webkit-keyframes preloader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes preloader {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .layout > .card {
    float: left;
    opacity: 0;
    padding: 0.5rem;
    width: 100%;
    overflow: hidden;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 0.5rem;
     }
  @media all and (min-width: 37.5em) {
    .layout--2 > .card {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .layout--3 > .card {
      width: 50%; } }
  @media all and (min-width: 75em) {
    .layout--3 > .card {
      width: 33.333%; } }
  @media all and (min-width: 37.5em) {
    .layout--4 > .card {
      width: 50%; } }
  @media all and (min-width: 56.25em) {
    .layout--4 > .card {
      width: 33.333%; } }
  @media all and (min-width: 75em) {
    .layout--4 > .card {
      width: 25%; } }
  .layout--is-showing-cards:before {
    display: none; }
  .layout--is-showing-cards .card {
    opacity: 1; }

.card {
  background: #fff;
  border-radius: 4px;
  position: relative;
  width: 100%; }
  .card--featured:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 30'%3e%3cpath fill='%23ff80ab' d='M0,0H18V30L9,18.5,0,30Z'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 24px;
    opacity: 0;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    -webkit-transition: all 0.24s ease-out;
    -o-transition: all 0.24s ease-out;
    transition: all 0.24s ease-out;
    -webkit-transform: scale(0) translateY(-100%);
    -ms-transform: scale(0) translateY(-100%);
    transform: scale(0) translateY(-100%);
    width: 14px;
    z-index: 2; }
  .card--featured:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0); }
  .card > a {
    color: #111111; }
  .card__header {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative; }
    .card__header img {
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      width: 100%; }
  .card:hover .card__header > img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
  .card__body {
    color: #111111;
    text-align: left;
    width: 100%; }
    .card__body--compact {
      background: rgba(255, 255, 255, 0.85);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      text-transform: uppercase;
      -webkit-transition: all .25s ease-in;
      -o-transition: all .25s ease-in;
      transition: all .25s ease-in; }
    .card__body__wrap {
      padding: 1.5rem 1rem;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .card__body__wrap > p {
        font-size: 0.6243rem;
        letter-spacing: 0.09em;
        margin-top: 0.75rem;
        text-transform: uppercase; }
      .card__body__wrap > h2 {
        font-size: 1.925rem;
        line-height: 1.4;
        margin-top: 0.5rem; }
      .card__body__wrap--compact {
        opacity: 0;
        padding: 2.25rem;
        -webkit-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        -webkit-transform: translateY(15%);
        -ms-transform: translateY(15%);
        transform: translateY(15%); }
        .card__body__wrap--compact > p {
          font-size: 0.6243rem; }
        .card__body__wrap--compact > h2 {
          font-size: 0.88889rem;
          font-weight: 700;
          line-height: 1.3;
          margin-top: 0.5rem; }
  .card:hover .card__body {
    margin: 0;
    opacity: 1; }
    .card:hover .card__body__wrap {
      opacity: 0.5;
      -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
      transform: translateY(-0.5rem);
      will-change: transform; }
      .card:hover .card__body__wrap--compact {
        opacity: 1;
        -webkit-transform: perspective(0) translateY(0);
        transform: perspective(0) translateY(0);
        width: 100%; }

.post__image--left {
  float: left;
  margin-bottom: 2.75rem;
  margin-right: 2.75rem;
  max-width: 50%; }

.post__image--right {
  float: right;
  margin-bottom: 2.75rem;
  margin-left: 2.75rem;
  max-width: 50%; }

.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

@media all and (min-width: 56.25em) {
  .post__image--wide {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center; } }

.post__image--wide > img {
  height: auto;
  width: calc(66rem - (4vw * 2)); }

@media all and (min-width: 56.25em) {
  .post__image--full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    text-align: center; } }

.post__image--full > img {
  height: auto;
  width: 66rem; }

.post__title,
.post__meta {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.post__meta {
  opacity: 0.5;
  transition:  all 1.175s ease-out;
}
.post__meta:hover {
  opacity: 1;
  transition:  all 0.175s ease-out;
}

.post__meta a {
  margin-right: 1rem; }

.post--featured .post__title:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 30'%3e%3cpath fill='%23ff80ab' d='M0,0H18V30L9,18.5,0,30Z'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 24px;
  left: calc(50% - 14px/2);
  margin-top: 1.25rem;
  position: relative;
  width: 14px; }

.post__featured-image {
  margin-bottom: 2.25rem;
  margin-top: 0;
  overflow: hidden; }

.post__entry {
  overflow: hidden;
  margin-bottom: 3rem;
  }
  .post__entry > :nth-child(1) {
    margin-top: 0; }
  .post__entry a {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink; }

.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 2.25rem;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  .post__video::before, .post__iframe::before {
    display: block;
    content: "";
    padding-top: 56.25%; }
  .post__video--21by9::before, .post__iframe--21by9::before {
    padding-top: 42.857143%; }
  .post__video--4by3::before, .post__iframe--4by3::before {
    padding-top: 75%; }
  .post__video--1by1::before, .post__iframe--1by1::before {
    padding-top: 100%; }
  .post__video > iframe, .post__iframe > iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }

.post__toc h3 {
  font-size: 1.125rem; }
  @media screen and (min-width: 20rem) {
    .post__toc h3 {
      font-size: calc(1.125rem + 0 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    .post__toc h3 {
      font-size: 1.125rem; } }

.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.75rem 0 0 1rem; }
  .post__toc ul li {
    counter-increment: item;
    padding: 0; }
  .post__toc ul ul {
    margin-top: 0; }
    .post__toc ul ul li {
      display: block; }
      .post__toc ul ul li:before {
        content: counters(item, ".") ". ";
        margin-left: -20px; }

.post__footer {
  margin-top: 3rem; }
  @media all and (max-width: 37.4375em) {
    .post__footer {
      text-align: center; } }
  @media all and (min-width: 37.5em) {
    .post__footer__col {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.post__last-updated {
  color: #585858;
  font-size: 0.79012rem;
  font-style: italic;
  margin: -1.5rem 0 3rem;
  text-align: left; }

.post__tag {
  margin: 0; }
  @media all and (min-width: 37.5em) {
    .post__tag {
      width: 70%; } }
  .post__tag li {
    display: inline-block;
    list-style: none;
    padding: 0 0.75rem 0 0; }
    .post__tag li > a {
      font-size: 0.6243rem;
      letter-spacing: 0.09em;
      text-transform: uppercase; }
      .post__tag li > a {
        color: rgba(17, 17, 17, 0.4);
        text-decoration: none;
        -webkit-transition: all 0.12s linear 0s;
        -o-transition: all 0.12s linear 0s;
        transition: all 0.12s linear 0s; }
      .post__tag li > a:hover {
        color: #ff80ab; }
      .post__tag li > a:active {
        color: #ff80ab; }
      .post__tag li > a:focus {
        color: #ff80ab; }
      .post__tag li > a:before {
        content: "#"; }

@media all and (max-width: 37.4375em) {
  .post__share {
    margin-top: 1.5rem;
    text-align: center; } }

.post__share > a {
  display: inline-block;
  padding: 0.25rem; }
  .post__share > a:hover {
    text-decoration: none; }

.post__share .icon {
  opacity: 1 !important;
  pointer-events: none; }
  @media all and (max-width: 37.4375em) {
    .post__share .icon {
      height: 1.25rem;
      width: 1.25rem; } }
  @media all and (min-width: 37.5em) {
    .post__share .icon {
      height: 0.75rem;
      width: 0.75rem; } }
  .post__share .icon:hover {
    fill: #111111; }

.post__nav {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #dedede;
  color: #585858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6243rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 0.18em;
  margin-top: 1.5rem;
  padding: 3rem 0 1rem;
  text-transform: uppercase; }
  .post__nav__prev {
    position: relative;
    text-align: left;
    width: 50%; }
    .post__nav__prev > h5:before {
      content: "\2190";
      display: inline-block;
      height: 1rem;
      margin-right: 0.25rem;
      position: absolute;
      top: 1.2rem;
      -webkit-transition: all 0.12s linear 0s;
      -o-transition: all 0.12s linear 0s;
      transition: all 0.12s linear 0s;
      -webkit-transform: translateXY(0);
      -ms-transform: translateXY(0);
      transform: translateXY(0);
      width: 1rem; }
    .post__nav__prev > h5 > a {
      padding-left: 1.5rem;
      display: inline-block; }
    .post__nav__prev:hover h5:before {
      color: #ff80ab;
      -webkit-transform: translateX(-0.25rem);
      -ms-transform: translateX(-0.25rem);
      transform: translateX(-0.25rem); }
    .post__nav__prev:hover h5 > a {
      padding-left: 1.75rem; }
  .post__nav__next {
    margin-left: auto;
    position: relative;
    text-align: right;
    width: 50%; }
    .post__nav__next > h5:after {
      content: "\2192";
      display: inline-block;
      height: 1rem;
      margin-left: 0.25rem;
      position: absolute;
      right: 0;
      top: 1.2rem;
      -webkit-transition: all 0.12s linear 0s;
      -o-transition: all 0.12s linear 0s;
      transition: all 0.12s linear 0s;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      width: 1rem; }
    .post__nav__next > h5 > a {
      padding-right: 1.5rem;
      display: inline-block; }
    .post__nav__next:hover h5:after {
      color: #ff80ab;
      -webkit-transform: translateX(0.25rem);
      -ms-transform: translateX(0.25rem);
      transform: translateX(0.25rem); }
    .post__nav__next:hover h5 > a {
      padding-right: 1.75rem; }
  .post__nav h5 {
    margin: 0.25rem 0 0;
    text-transform: none; }

.post__bio {
  background: rgba(17, 17, 17, 0.03);
  font-size: 0.79012rem;
  margin-top: 3rem;
  padding: 1.5rem; }
  .post__bio > img {
    border-radius: 50%;
    height: 3.5rem;
    margin-bottom: 1rem;
    width: 3.5rem; }
    @media all and (min-width: 37.5em) {
      .post__bio > img {
        float: left; }
        .post__bio > img + div {
          margin-left: 5.5rem; } }
  .post__bio h3 {
    font-size: 1rem;
    margin-top: 0; }

.post__bio + .post__related {
  border: none;
  margin-top: 0; }

.post__related {
  border-top: 1px solid #dedede;
  margin-top: 2rem;
  text-align: left; }
  .post__related__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1.5rem -2% 0;
    width: 104%; }
    .post__related__wrap figure {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin: 0;
      padding: 0.75rem 2% 0; }
      @media all and (min-width: 37.5em) {
        .post__related__wrap figure {
          -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%; } }
      .post__related__wrap figure a {
        display: block; }
        .post__related__wrap figure a > img {
          height: 9rem;
          -o-object-fit: cover;
          object-fit: cover;
          -webkit-transition: all 0.24s ease;
          -o-transition: all 0.24s ease;
          transition: all 0.24s ease;
          width: 100%; }
        .post__related__wrap figure a:hover img {
          opacity: 0.8; }
    .post__related__wrap figcaption {
      font-style: normal;
      text-align: left; }
      .post__related__wrap figcaption > time {
        color: #585858;
        font-size: 0.6243rem;
        letter-spacing: 0.09em;
        margin: 0 0 0.75rem;
        text-transform: uppercase; }
    .post__related__wrap h4 {
      font-size: 0.88889rem;
      margin: 1.5rem 0 0.75rem; }

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.79012rem; }

.comments {
  margin-top: 4rem; }
  .comments > h3 {
    margin-bottom: 1.5rem; }

.banner {
  text-align: center; }
  .banner--before-post {
    margin-bottom: 3rem; }
  .banner--after-post {
    margin-top: 2.75rem; }

.author-page__avatar {
  border-radius: 50%;
  height: 3.5rem;
  margin-bottom: 1rem;
  width: 3.5rem; }

.author-page__info {
  font-family: "Playfair Display", serif;
  margin-top: 1.5rem; }

.search-page__input {
  width: 100%; }

.gsc-control-cse {
  padding: 0; }

.gs-webResult {
  border-top: 1px solid #dedede;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.5rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1rem 1.5rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  float: left;
  font-family: "Playfair Display", serif;
  font-size: 3.65324rem;
  line-height: 0.6;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0; }

/* Pagination ------------------------ */
.pagination {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%; }
  @media all and (min-width: 56.25em) {
    .pagination {
      margin-top: 4.5rem; } }
  @media all and (min-width: 20em) {
    .pagination > a + a {
      margin: 0 0 0 0.5rem; } }

/* Footer ------------------------ */
.footer {
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  margin: 6rem 0 0;
  padding: 2rem 0 0;
  text-align: center; }
  @media all and (min-width: 37.5em) {
    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .footer__nav ul {
    margin: 0; }
    .footer__nav ul li {
      display: inline-block;
      font-size: 0.6243rem;
      letter-spacing: 0.18em;
      padding: 0 0.5rem 0 0;
      text-transform: uppercase; }
      .footer__nav ul li a {
        color: #111111;
        text-decoration: none;
        -webkit-transition: all 0.12s linear 0s;
        -o-transition: all 0.12s linear 0s;
        transition: all 0.12s linear 0s; }
      .footer__nav ul li a:hover {
        color: rgba(17, 17, 17, 0.5); }
      .footer__nav ul li a:active {
        color: rgba(17, 17, 17, 0.5); }
      .footer__nav ul li a:focus {
        color: rgba(17, 17, 17, 0.5); }
      .footer__nav ul li a--active {
        color: rgba(17, 17, 17, 0.5); }
  .footer__social > a {
    display: inline-block;
    padding: 0 0.5rem 0 0; }
    @media all and (max-width: 37.4375em) {
      .footer__social > a {
        padding: 0 0.5rem; } }
  .footer__social .icon {
    fill: rgba(17, 17, 17, 0.8);
    height: 0.889rem;
    width: 0.889rem; }
    .footer__social .icon:hover {
      fill: #ff80ab; }
  .footer__copyright {
    color: #585858;
    font-size: 0.624rem;
    letter-spacing: 1px;
    padding: 0;
    text-transform: uppercase; }
    @media all and (max-width: 37.4375em) {
      .footer__social + .footer__copyright {
        padding-top: 0.5rem; } }

.icon {
  display: inline-block;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

.gallery {
  margin: calc(1.5rem + 1vw) -0.5rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
      flex: 1 0 33.333%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
      flex: 0 1 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
      flex: 0 1 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 14.285%;
      flex: 1 0 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 12.5%;
      flex: 1 0 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.5rem;
    position: relative; }
    @media all and (min-width: 20em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 33.333%;
        flex: 1 0 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
        flex: 1 0 25%; } }
    .gallery__item a {
      display: block;
      height: 100%;
      width: 100%; }
      .gallery__item a::after {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        bottom: 0.5rem;
        content: "";
        display: block;
        opacity: 0;
        left: 0.5rem;
        height: calc(100% - 1rem);
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        -webkit-transition: all .24s ease-out;
        -o-transition: all .24s ease-out;
        transition: all .24s ease-out;
        width: calc(100% - 1rem); }
      .gallery__item a:hover::after {
        opacity: 1; }
    .gallery__item img {
      display: block;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .gallery__item figcaption {
      bottom: 1.2rem;
      color: #ffffff;
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      -webkit-transform: translate(-50%, 1.2rem);
      -ms-transform: translate(-50%, 1.2rem);
      transform: translate(-50%, 1.2rem);
      -webkit-transition: all .24s ease-out;
      -o-transition: all .24s ease-out;
      transition: all .24s ease-out; }
    .gallery__item:hover figcaption {
      opacity: 1;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.pswp--dark .pswp__bg {
  background: #000000; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #111111; }

.pswp--light .pswp__caption__center {
  color: #111111; }

.fleuron {
 text-align: center;
 color: #4b6067;
}
}
/*# sourceMappingURL=main.css.map */